[Unit]
Description=TCP client tunneling CAN

[Service]
Type=simple
ExecStart=/usr/sbin/connectify.py %i /usr/sbin/slcan-tunnel.py can43420
StandardError=journal
TimeoutStopSec=1

